@font-face {
    font-family: "TXQYW3";
    src: url("https://cdn.botlink.xyz/zipfonts/TXQYW3.eot"); /* IE9 */
    src: url("https://cdn.botlink.xyz/zipfonts/TXQYW3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("https://cdn.botlink.xyz/zipfonts/TXQYW3.woff") format("woff"), /* chrome、firefox */
    url("https://cdn.botlink.xyz/zipfonts/TXQYW3.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("https://cdn.botlink.xyz/zipfonts/TXQYW3.svg#TXQYW3") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


