@font-face {
    font-family: "TXQYW5";
    src: url("TXQYW5.eot"); /* IE9 */
    src: url("TXQYW5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("TXQYW5.woff") format("woff"), /* chrome、firefox */
    url("TXQYW5.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("TXQYW5.svg#TXQYW5") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


