# Config Files

XCW/res/
XCW/go-cqhttp/
XCW/cq-picsearcher-bot/
XCW/miraiOK/
XCW/环境/
XCW/先驱/
XCW/NEW/
XCW/实验室/
XCW/ffmpeg/
XCW/record/
XCW/Hoshino/hoshino/modules/authMS/
XCW/yobot/
#XCW/Hoshino/hoshino/config/
#XCW/Hoshino/hoshino/modules/pjjc2/
#XCW/Hoshino/hoshino/modules/meme_web/meme/
#XCW/Hoshino/hoshino/modules/botmanage/group_invite.py
# ip地址




# 非公开的组件
# hoshino/modules/deepchat/



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

