{% extends "share/article.html" %}
{% block article %}
<div class="form-row">
    <div class="form-group col-md-6 col-lg-12">
        <span class="btn-white form-control"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-sm-6">
        <span class="form-control" style="font-size: 20px" onclick="window.location.href='/manage/service'">按服务管理</span>
    </div>
    <div class="form-group col-sm-6">
        <span class="form-control" style="font-size: 20px" onclick="window.location.href='/manage/group'">按群管理</span>
    </div>
</div>
{% endblock %}