:root {
  --primary-color-1: #efa85a;/* 主色调1 */
  --primary-color-2: #ff7038;/* 主色调2 */
  --secondary-color-1: #ff8251;/* 副色调1 */
  --secondary-color-2: #D45532;/* 副色调2 */
  --background-color: #ffdba6;/* 背景颜色 */
  --font-color: #764727;/* 文字颜色 */
}

/* CharacterspriteAnime */

.character-container {
	width: 200px;
	height: 200px;
	overflow: hidden;
	background: url("../../images/sprite06.png");
	background-size: 100%;
}

.character-container.char {
	animation: spriteAnimechar 700ms steps(18) infinite;
}

@keyframes spriteAnimechar {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -3600px;
	}
}