nonebot[scheduler]~=1.6.0
aiocqhttp>=1.2
lxml>=4.4.1
pytz>=2019.3
sogou_tr_free>=0.0.6
zhconv>=1.4.0
Pillow>=6.2.1
TwitterAPI>=2.5.10
matplotlib==3.2.0
numpy>=1.18.0
pygtrie>=2.0
tinydb>=4.0
pyyaml
sqlitedict
ujson
msgpack
PyPi
python-Levenshtein-wheels
pandas
canvas
orjson
filetype==1.0.7
logzero
jieba
pinyin
xlrd==1.2.0
pycryptodome
pycryptodomex
httpx
pixivpy
opencv-python
pyquery~=1.4.3
emoji~=0.5.4
googletrans~=2.4.0
uuid~=1.30
APScheduler~=3.6
requests~=2.22
aiohttp>=3.6.1
opencc-python-reimplemented~=0.1.5
feedparser~=6.0
beautifulsoup4~=4.8
arrow~=0.14
peewee~=3.13
expiringdict>=1.2.0
aiocqhttp~=0.6
quart~=0.7.0
Hypercorn~=0.5.0
jinja2~=2.10
