<!DOCTYPE html>

<head>
	<meta name='viewport' content='width=device-width, initial-scale=1' charset="utf-8" />
	<title>YoCool Link Start</title>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://yocool.botlink.xyz/yocool.js"></script>
	<link rel="stylesheet" href="https://yocool.botlink.xyz/css/style.css">
	<style>
		html{
			background-color: #FFFFFF;
		}

		body {
			margin: 0;
			text-align: center;
		}

		h1 {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			letter-spacing: 2px;
			font-size: 48px;
			color: #FFFFFF;
		}

		p {
			font-family: 'Lato', sans-serif;
			letter-spacing: 1px;
			font-size: 16px;
		}
	</style>
</head>

<body>
	<div class="header">
		<div class="inner-header flex">
			<h1>Hi!YoCool!</h1>
		</div>
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
			<defs>
				<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
			</defs>
			<g class="parallax">
				<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
				<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
				<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
				<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
			</g>
		</svg>
	</div><br>
	<p>—yobot is running—</p>
	<div id="app">
		<a href="{{ url_for('yobot_login') }}">
			<el-button type="primary" style="margin: 5%;height: 80px;width: 200px;">登录</el-button>
		</a>
		<br>
		<a href="{{ url_for('yobot_about') }}">
			<el-button size="mini" style="width: 200px;">关于</el-button>
		</a>
	</div>
	<el-footer style="position: fixed;bottom: 12px;left: 50%;transform: translate(-50%, -50%);
width: 100%;font-size:14px;">
		{% if show_icp -%}
		<a target="_blank" href="http://beian.miit.gov.cn/" style="text-decoration:none;color: #000;">{{ icp_info }}</a>
		&nbsp;
		{% if gongan_info -%}
		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo"
			style="text-decoration:none;color: #000;">
			<img src="{{ url_for('yobot_static', filename='gongan.png') }}">
			{{ gongan_info }}
		</a>
		&nbsp;
		{% endif -%}
		{% endif -%}
	</el-footer>
</body>
<script>
	new Vue().$mount('#app');
</script>

</html>