<!DOCTYPE html>

<head>
	<title>权限不足</title>
	<meta name='viewport' content='width=device-width, initial-scale=1' charset="utf-8" />
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://yocool.botlink.xyz/yocool.js"></script>
	<link rel="stylesheet" href="https://yocool.botlink.xyz/css/style.css">
	<style>
		body {
			margin: 0;
			text-align: center;
		}

		h1 {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			letter-spacing: 2px;
			font-size: 48px;
			margin-top: 10rem;
		}

		p {
			font-family: 'Lato', sans-serif;
			letter-spacing: 1px;
			font-size: 16px;
			margin-bottom: 40px;
		}
	</style>
</head>

<body>
	<a href="#" onclick="javascript:history.go(-1);">
		<h1>权限不足</h1>
		<p>这个公会的信息是私密的，只有其成员可以查看</p>
		<div id="loading_character" class="move">
			<div class="character-container char"></div>
			<div class="text_loading hide">
				<span class="icon_loading"><img src="https://yocool.botlink.xyz/image/icon-loading.png" width="16" height="16" alt="loading..."></span>
				<span><img src="https://yocool.botlink.xyz/image/text-loading.png" width="88" height="20" alt="loading..."></span>
			</div>
		</div>
	</a>
</body>

</html>
