.bloodPressureHigh {
    color: red;
}

.bloodPressureLow {
    color: #33CC00;
}

.switchButton {
    display: inline-block;
    width: 70px;
}

.on {
    background-color: lawngreen;
}

.off {
    background-color: gray;
}