{% extends "share/base.html" %}
{% block main %}
<div class="main-content-container container-fluid px-4">
    {% include "share/main_header.html" %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0" id="msg">{{ msg }}</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}