'''
=============本配置文件插件版不填===============
 __     __    _____            _ 
 \ \   / /   / ____|          | |
  \ \_/ /__ | |     ___   ___ | |
   \   / _ \| |    / _ \ / _ \| |
    | | (_) | |___| (_) | (_) | |
    |_|\___/ \_____\___/ \___/|_|

==================源码版必填===================
'''

class setup_config(object): 

# yocool目录的绝对路径，即yocool.py所在的目录
    path = ''

# yobot目录的绝对路径，即__init__.py所在目录
    yobot_path = ''